$black: #000;
$white: #fff;

$lightprimary: #757de8;
$primary: #3f51b5;
$darkprimary: #002984;

$lightsecondary: #52c7b8;
$secondary: #009688;
$darksecondary: #00675b;

$dprimarytext: rgba(0, 0, 0, .87);
$dsecondarytext: rgba(0, 0, 0, .54);
$ddisabledtext: rgba(0, 0, 0, .38);
$ddividetext: rgba(0, 0, 0, .12);

$lprimarytext: rgba(255, 255, 255, 1);
$lsecondarytext: rgba(255, 255, 255, .7);
$ldisabledtext: rgba(255, 255, 255, .5);
$ldividetext: rgba(255, 255, 255, .12);