.fy-avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: $white;
  background-color: $ddisabledtext;

  .fy-avatar--small {
    width: 24px;
    height: 24px;
  }

  .fy-avatar--large {
    width: 64px;
    height: 64px;
  }
}