.fy-ripple {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  background-color: currentColor;
  opacity: .12;
  animation: ripple .6s ease-out;
  will-change: transform, opacity;
  pointer-events: none;

  @keyframes ripple {
    from {
      transform: scale(0);
      opacity: .12;
    }
    to {
      transform: scale(2.5);
      opacity: .02;
    }
  }
}